
.title {
  font-family: $primaryFontFamily;
  font-weight: bold;
  font-size: 70px;
  line-height: 83px;
  letter-spacing: 0.15em;
  color: #FFFFFF;
  margin:0;
  margin-bottom: 3px;
}

.info {
  display: flex;
  height: 405px;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding-left: 34px;
  margin-left: 54px;
  border-left: 1px solid #FFFFFF;
  
  p {
    margin: 0;
    font-size: 22px;
    max-width: 462px;
  }
  
}

@media only screen and (max-width: 992px) { 
  .info {
    display: none;
  }
}
