$primaryColor: #FFCA41;
$primaryBackgroundColor: #FFCA41;

$titleFontSize: 18px;
$normalFontSize: 12px;
$smallFontSize: 9px;

$buyTokenBoxTextSoftColor: #FC9904;
$buyTokenBoxTextBoldColor: #FCB604;


$borderRadius: 5px;
